<%- include('../partials/head', {pageTitle: 'My Favourites'}) %>
</head>
<body>
    <%- include('../partials/nav') %>


    <!-- Favourites Section -->
    <div class="p-6 flex items-center justify-center flex-col">
        <h1 class="font-bold text-4xl text-red-800">My Favourite Properties:</h1>
        <% if (properties && properties.length > 0) { %>
            <ul class="mt-16 space-y-6 gap-4 items-center justify-center flex flex-col">
                <% properties.forEach(function(property) { %>
                    <li class="border rounded shadow mb-2 w-1/2 border-gray-300 pb-2">
                        <img class="rounded object-cover" src="<%= property.photoUrl || property.image %>" alt="Property Image">
                        <div class="flex items-center justify-between mt-2">
                            <div>
                                <h2 class="font-semibold text-xl pl-2"><%= property.title %></h2>
                                <p class="text-gray-500 pl-2"><%= property.location %></p>
                                <p class="text-red-500 font-bold pl-2">$<%= property.price %>/night</p>
                                <p class="text-yellow-500 font-semibold pl-2">⭐ <%= property.rating || 'N/A' %></p>
                            </div>
                            <div class="mr-2 mt-10 flex gap-2">
                                <a href="/homes/<%= property._id %>" class="bg-blue-500 text-white py-1 px-4 rounded hover:bg-blue-600">Details</a>
                                <form action="/favourite-list/<%= property._id %>" method="POST" class="inline">
                                    <button type="submit" class="bg-gray-500 text-white py-1 px-4 rounded hover:bg-gray-600">Remove</button>
                                </form>
                            </div> 
                        </div>   
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <div class="mt-16 text-center">
                <p class="text-gray-500 text-xl">You have no favourite properties yet.</p>
                <a href="/" class="mt-4 inline-block bg-red-500 text-white py-2 px-6 rounded hover:bg-red-600">Browse Properties</a>
            </div>
        <% } %>
    </div>
</body>
</html>
