<%- include('../partials/head', {pageTitle: 'Airbnb Home'}) %>
</head>
<body>
    <%- include('../partials/nav') %>


    <!-- Welcome Section -->
    <div class="p-6 flex items-center justify-center flex-col">
        <h1 class="font-bold text-4xl text-red-800">Showing Registered Homes:</h1>
        <ul class="mt-16 space-y-6 gap-4 items-center justify-center flex flex-col">
            <% properties.forEach(function(property) { %>
                <li class="border rounded shadow mb-2 w-1/2  border-gray-300 pb-2">
                    <img class="rounded object-cover" src="<%= property.image %>" alt="Property Image">
                    <div class="flex items-center justify-between mt-2">
                        <div>
                            <h2 class="font-semibold text-xl pl-2"><%= property.houseName %></h2>
                            <p class="text-gray-500 pl-2"><%= property.location %></p>
                            <p class="text-red-500 font-bold pl-2">$<%= property.price%>/night</p>
                            <p class="text-yellow-500 font-semibold pl-2">⭐ <%= property.rating || 'N/A' %></p></div>
                        <div class="mr-2 mt-10 flex gap-2">
                            <a href="/homes/<%= property._id %>" class="bg-blue-500 text-white py-1 px-4 rounded hover:bg-blue-600">Details</a>
                            <form action="/favourite-list" method="POST" class="inline">
                                <input type="hidden" name="propertyId" value="<%= property._id %>">
                                <button type="submit" class="bg-red-500 text-white py-1 px-4 rounded hover:bg-red-600 flex items-center gap-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                                    </svg>
                                    Favourite
                                </button>
                            </form>
                        </div> 
                    </div>   
                </li>
            <% }); %>
        </ul>
    </div>
</body>
</html>